@page
@model IndexModel
@{
    ViewData["Title"] = "Home ";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Site Is Under develpoment.</p>
    <h3>For queries Call +91 7631006909 /+91 7992437949</h3>
    <h4>Nurturing Knowledge</h4>
</div>
